<%- include('partials/header'); -%>
<%- include('partials/nav'); -%>

<main class="form-signin">
  <form action='#'>
    <h1 class="h3 mb-3 fw-normal text-center">Login</h1>
    <div class="error"></div>
    <label for="regNo" class="visually-hidden">Registration Number</label>
    <input type="number" id="regNo" class="form-control" placeholder="Registration Number" required>
    <%#  <label for="regNo" class="visually-hidden">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" required>%> 
    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
  </form>
</main>

<script>
  const form = document.querySelector('form');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // get values
    const error = document.querySelector('.error')
    const number = document.querySelector('#regNo').value
    // const password = document.querySelector('#password').value

    try {
      const res = await fetch('/login', { 
        method: 'POST', 
        body: JSON.stringify({ number }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json()
      if(data.errors) {
        error.textContent = 'Reg-Number/Email is incorrect'
      }
      if(data.user) {
        location.assign('/verify')
      }
    }
    catch (err) {
      console.log(err);
    }
  });;
</script>

<%- include('partials/footer'); -%>